@model AspNetCoreMVC.Models.EmployeeView
@{
   ViewBag.Title = "Подробно";
}

<table class="table table-dark table-striped">
   <tr>
      <td>Id</td>
      <td>@Model.id</td>
   </tr>
   <tr>
      <td>Имя</td>
      <td>@Model.Name</td>
   </tr>
   <tr>
      <td>Фамилия</td>
      <td>@Model.Surname</td>
   </tr>
   <tr>
      <td>Отчество</td>
      <td>@Model.Patronymic</td>
   </tr>
   <tr>
      <td>Дата Рождения</td>
      <td>@Model.BirthDate.ToShortDateString()</td>
   </tr>
</table>
<div>
   <a class="btn btn-dark" asp-action="Users">Назад</a>
</div>